<!doctype html>
<html>
<head>
    <title><%= shopData.shopName %>  |  Contact</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>
  <div class="shopName">
    <h1><%= shopData.shopName %></h1>
  </div>

    <div class="navbar">
    <div class="nav-link">
      <a href="/">Home</a>
    </div>
    <form class="search-form" action="/cars/search_result" method="get">
      <div class="search-wrap">
        <input type="text" name="search_text" placeholder=" ">
        <input type="image" src="/searchIcon.png" alt=" ">
      </div>
    </form>
  </div>

  <div class="contact-info">
    <p>At DRentals4U, Our Priority Is Your Satisfaction</p>
    <p>If You Are Experiencing Any Issues Or Would Like To Make An Enquiry,</p>
    <p>Please Contact Us Using The Information Below:</p>
    <p>Email: dabed001@gold.ac.uk</p>
    <p>Telephone: 020 6338 404</p>
    <p>DRentals4U across All Social Media Platforms</p>
    <p>Thank you.</p>
  </div>

</body>
<footer>
  <p>Drive Premium, Drive DRentals4U - Where Every Mile is a Statement...</p>
</footer>
</html>