<!doctype html>
<html>
<head>
    <title><%= shopData.shopName %>  |  Login</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>
  <div class="shopName">
    <h1><%= shopData.shopName %></h1>
  </div>

    <div class="navbar">
    <div class="nav-link">
      <a href="/">Home</a>
    </div>
    <form class="search-form" action="/cars/search_result" method="get">
      <div class="search-wrap">
        <input type="text" name="search_text" placeholder=" ">
        <input type="image" src="/searchIcon.png" alt=" ">
      </div>
    </form>
  </div>

  <div class="login-control">
    <p class="login-title">Users Login</p>
    <form method="POST" action="signedin" class="login-form">
      
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" required>
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" required>
      </div>
  
      <input class="login-button" type="submit" value="Sign In">
    </form>
  
    <div class="continue">
      <a href="/cars/availableCars">Continue as a Guest</a> 
    </div>
  </div>
  
  <div class="contact">
    <a href="/contact">Difficulty Signing In? Contact Us</a>
  </div>
  
</body>
<footer>
  <p>Drive Premium, Drive DRentals4U - Where Every Mile is a Statement...</p>
</footer>
</html>